.titlebar {
	height: unset;
	align-self: stretch;

	button {
		max-height: unset;
	}
}

.modeSwitch {
	gap: var(--space-1);
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.reviewMenuItem {
	background-color: var(--orange-4);
	color: var(--orange-12);
}

.reviewMenuItem[data-state="on"] {
	background-color: var(--orange-5);
	color: var(--orange-12);
}

.reviewActionGroup {
	display: inline-flex;
	align-items: center;
	gap: var(--space-1);
}

@media screen and (max-width: 768px) {
	.title {
		display: none;
	}
}
